/*-----------------------------layout----------------------------------*/
/* -------------------------
            全域
---------------------------*/
body{
	margin: 0;
	padding: 0;
	position: relative;
}
/*嵌入字型*/
@font-face{
	font-family:"Raleway";
	src:url(Raleway-ExtraLight.ttf);
}

h1,h2,h3,h4,h5,span,p{
	font-family:"Raleway", arial, sans-serif;
	font-weight:200;
	margin: 0;
}
ul{
	font-family:"Raleway", arial, sans-serif;
	font-weight:200;
	margin:0;
	padding:0; 
}
li{
	font-family:"Raleway", arial, sans-serif;
	font-weight:200;
}
a{
	font-family:"Raleway", arial, sans-serif;
	font-weight:300;
	text-decoration: none;
	color:#0066ff;
	word-break:break-all;/*2016-10-07-add*/ 
}
img{
	max-width: 100%;
}
/*置中*/
header .menu,main,.footer-content{
	width:960px;
	margin:0 auto;
	position: relative;
}
/*移動特效*/
a,p,img{
	transition: all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}
/*主內容向下移*/
main{
	padding-top:100px;
}

/* -------------------------
         頁首和頁尾
---------------------------*/
header{
	background:rgba(255,255,255,0.95);
	position:fixed;
	z-index:999;
	width:100%;/*保持置中*/
}
header .menu{
	padding:20px 0;
}
header .name h1{
	line-height: 28px;
	margin-bottom:0;
}
header .name h1 a{
	font-size:24px; 
	color:#333;
	text-transform:uppercase;
	letter-spacing:2px; 
	font-family:Arial,"Microsoft JhengHei"; 
	font-weight:600; 
}
header .name h1 a:hover{
	color:#f80;
}
header nav{
	float:right;
}
header nav ul{
	list-style-type:none; 
}

header nav ul li{
	float:left;
}


header nav a{
	font-size:14px; 
	color:#666;
	text-transform:uppercase;
	letter-spacing:1px;  
	padding:5px 0 5px 20px;
	line-height:30px; 
}
header nav a:hover{
	color:#bbb;
}
/*mobile menu*/
header .mobile-toggle{
	position:absolute;
	right:0;
	top:22px;
	cursor:pointer;
	font-size:20px;
	width:30px;    
	display:none;
}
header .mobile-toggle span{
	width:30px;
	height:2px;
	margin-bottom:8px;
	/*border-radius:1000px;*/
	background:#8f8f8f;
	display:block;   
}
footer{
	background:#222;
	padding:20px 0;
	clear:both; 
}
footer span{
	color:#fff;
	font-size:18px; 
}


/*gotop button*/
a.back-to-top{
	display:none;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px; 
	font-size:12px;
	color:#999; 
	line-height:10px;
	letter-spacing:2px;
	text-transform: uppercase;
	border:1px solid transparent;
	background:#fff; 
	padding: 6px 7px;
	margin-bottom:0; 
}
a:hover.back-to-top {
	border:1px solid #cfcfcf;
}


/* -------------------------
           標題
---------------------------*/
.pagetitle{
	position:relative;
	padding:20px 0 50px 0;
}
.pagetitle .title{
	font-size:56px; 
	color:#000;
	line-height:58px;
	margin-bottom:20px;
	width:760px;
}
.pagetitle .subtitle{
	font-size:24px;
	color:#666;
	line-height:38px;
	margin-bottom: 20px; 
	width:760px;
}

/* -------------------------
            作品集
---------------------------*/
.content .tab{
	display:block; 
	height:40px;
	margin-bottom:20px;
}
.content .tab li{
	list-style-type:none; 
	float:left;
	margin:5px 5px 0 0;
}

.content .tab li a,.content .tab li a:visited{
	padding:9px 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size:14px;
	color:#999;
	border:1px solid transparent; 
}
.content .tab li a:active,.content .tab li a:hover{
	border-color:#dcdcdc;
}

/*.pic{
	overflow: hidden;
	margin-bottom:80px; 
}*/
.pic .images{
	position: relative;
	width:50%;
	overflow: hidden;
}
.pic .odd{
	float: left;
}
.pic .even{
	display:inline-block; 
}
.pic img{
	width:100%;
}

/*hover img effect*/
.pic .images a{
	display: block;
	width:100%;
	height:100%;
	background:#222;
}
.pic .images a img,.pic .images a .overlay{
	transition: all 0.45s ease-in-out;
	-webkit-transition: all 0.45s ease-in-out;
	-moz-transition: all 0.45s ease-in-out;
	-o-transition: all 0.45s ease-in-out;
	-ms-transition: all 0.45s ease-in-out;
}
.pic .images a:hover .overlay{
	opacity: 0.5;
}
.pic .images a:hover img{
	transform:scale(1.2) rotate(5deg);
	-webkit-transform:scale(1.2) rotate(5deg); 
	-moz-transform:scale(1.2) rotate(5deg); 
	-o-transform:scale(1.2) rotate(5deg); 
	-ms-transform:scale(1.2) rotate(5deg); 
	filter:gray;
	filter:grayscale(100%) opacity(0.5);
	-webkit-filter:grayscale(100%) opacity(0.5);
	-moz-filter:grayscale(100%) opacity(0.5);
	-o-filter:grayscale(100%) opacity(0.5);
	-ms-filter:grayscale(100%) opacity(0.5);
}
.pic .images a .overlay{
	position: absolute;
	top:0;
	width:100%;
	height:100%;
	text-align: center;
	background:#333;
	opacity: 0; 
}
.pic .images a .title{
	position: absolute;
	width:100%;
	text-align: center;
	display:none; 
}
.pic .images a .title h2{
	display: table-cell;
	vertical-align:middle;
	padding:0 40px;
	height:100%;
	color:#fff;
	margin:0; 
	font-size:32px;
}
/*hover text display*/
.pic .images a:hover .title{
	display:table; 
	top:50%;
	left:0;
}
/*最下方pic*/
.bottom-bg img{
	width:100%;
}

/* -------------------------
        作品集-簡短介紹
---------------------------*/
.brief-intro{
	padding:20px 0;
	width:700px;
	border-top:1px solid #999;
	/*margin:20px 0;*/
}
.brief-intro span{
	font-size:18px;
	color:#999; 
	line-height:28px; 
}

/* -------------------------
        作品集-底部照片
---------------------------*/
.bottom-bg{
	margin-top:60px;
}

/* -------------------------
     作品集內頁-頁面切換按鈕
---------------------------*/
.btn-control{
	position:absolute; 
	top:20px;
	right:20px;
}
.btn-control span{
	float:right; 
	margin-left:10px;
}
.btn-control span a{
	width:40px;
	height:40px;
	text-indent: -999999px;
	display: block;
	opacity: 0.5;
	border:1px solid transparent;
}
.btn-control span a:hover{
	opacity: 1;
}
.close a,.next a,.pre a{
	background: url('../images/btn_page.png') no-repeat;
}
.close a{
	background-position: -1px -110px;
}
.next a{
	background-position: -1px -55px;
}
.pre a{
	background-position: -1px -1px;
}
/* -------------------------
        作品集內頁-標題
---------------------------*/
.portfolio-inner .pagetitle{
	padding:20px 0;
}
/* -------------------------
        作品集內頁-內容
---------------------------*/
.portfolio-inner p{
	font-size:16px;
	line-height:2em;
	margin:20px 0;
	color:#666;  
}
.portfolio-inner p.content-title{
	text-align:center;
	font-size:18px; 
	font-weight:bold; 

}
.portfolio-inner img{
	margin:10px 0;
}
/*2016-10-07-add*/
.portfolio-inner .video{
	text-align:center;
	margin:30px 0; 
}
.portfolio-inner .video iframe{
	width:560px;
	height:315px;
}

/* -------------------------
      關於我-社群網站按鈕
---------------------------*/
.social-icon{
	display: inline-block;
	text-indent: 999999px;
	border:none;
	outline:none;
	padding:0;
	margin:0 2px 2px;
	width:40px;
	height:40px;
	background: #e9e9e9;
	background-repeat: no-repeat;
	background-position:center;
	background-size: 20px;
	border-radius: 100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	transition: color 0.3s ease-out, background 0.3s, ease-out; 
	-webkit-transition: color 0.3s ease-out, background 0.3s, ease-out; 
}
.social-icon.facebook{
	background-image: url('../images/fb-logo.png');
}
.social-icon.behance{
	background-image: url('../images/behance-logo.png');
}
/*hover effect*/
a.social-icon{
	opacity:0.75; 
}
a.social-icon:hover{
	opacity:1; 
}

/* -------------------------
          關於我-內容
---------------------------*/
main.about{
	width:100%;
}
main.about .pagetitle,main.about .btn-social,main.about .aboutme-mid-content{
	margin:0 auto;
 	width:960px;
}
main.about .content{
	margin:40px 0;
}
/*第一張圖*/
.aboutme-pic{
	margin-bottom:80px;
	margin:0 auto;/*2016-10-07-add*/
	width:960px;/*2016-10-07-add*/
}
.aboutme-pic img{
	width:100%;
	max-width:100% !important; 
	height:auto !important;
}

/*Parallax-Style Image*/
.full-bg-img{
	display:block;
	position: relative; 
	/*padding:0 99999px;
	margin:0 -99999px;*/
	background-color:#222;
	background-attachment:fixed;
	background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
	background-position:center;  
	padding-bottom: 40%;
}
/*2016-10-06-新增背景class*/
.about-bg{
	background-image:url('../images/about-bg.png'); 
}
.aboutme-mid-content{
	padding:20px 0;
}
.aboutme-mid-content p,.aboutme-mid-content img{
	padding:20px 0;
}

/* -------------------------
         履歷-連結按鈕
---------------------------*/
.pagetitle a.btn-profile{
	background:#f80; 
	padding:10px 20px;
	text-transform:uppercase;
	color:#fff;
	font-size:14px;
	letter-spacing:1.5px;
}
.pagetitle a.btn-profile:hover{
	background:#333; 
}
p.btn-donwload{
	margin:0 auto;
	width:960px;
	padding:10px 0 40px 0;
}
p.btn-donwload a{
	color:#f80; 
}
/*2016-10-06-新增背景class*/
.resume-bg{
	background-image:url('../images/resume-bg.jpg'); 
}

/* -------------------------
          履歷-內容
---------------------------*/
main.resume{
	width:100%;
}
main.resume .pagetitle{
	margin:0 auto;
	width:960px;
}
.resume-mid-content{
	padding:40px 0;
}
.resume-block{
	margin:0 auto;
	width:960px;
}
.column-first{
	float:left;
	width:74%;
	margin-right:4%; 
}
.column-second{
	float:left; 
	width:20%; 
}
.resume-mid-content h5{
	font-family:Arial,"Microsoft JhengHei"; 
	font-weight:600; 
	font-size: 18px;
	text-transform:uppercase;
	letter-spacing:1.5px; 
	line-height: 30px;
	margin-bottom: 20px;
}
.resume-mid-content span{
	font-family:Arial,"Microsoft JhengHei"; 
	font-weight:600; 
	font-size:14px;
	color:#f80;
	text-transform:uppercase;
	letter-spacing:1.5px; 
	line-height: 30px;
	margin-bottom: 20px;
	display:block; 
}
.resume-mid-content ul{
	line-height: 30px;
	margin-bottom: 20px;
}
.resume-mid-content ul li{
	margin-left:20px; 
}

.slicknav_menu {
	display:none;
}

/*-----------------------------Mobile layout------------------------------*/
@media only screen and (max-width:959px) and (min-width:768px){
	/* -------------------------
            	全域
	---------------------------*/
	header .menu,main,.footer-content{
		width:768px;
	}
	/* -------------------------
        	作品集內頁-標題
	---------------------------*/
	.portfolio-inner .title,.portfolio-inner .subtitle{
		width:580px;
	}
	/* -------------------------
          	關於-內容
	---------------------------*/
	main.about{
		margin:0;
	}
	main.about .pagetitle,main.about .btn-social,main.about .aboutme-mid-content{
		width:768px;
	}
	.full-bg-img{/*2016-10-06-修正不滾動*/
		padding-bottom:60%;
		background-attachment:initial;
	}
	/* -------------------------
          	履歷-內容
	---------------------------*/
	main.resume{
		margin:0;
	}
	main.resume .pagetitle,.resume-block,p.btn-donwload{
		width:768px;
	}



}

@media only screen and (max-width:767px) and (min-width:480px){
	/* -------------------------
            	全域
	---------------------------*/
	header .menu,main,.footer-content{
		width:420px;

	}	
	/* -------------------------
            	作品集
	---------------------------*/
	.brief-intro{
		width:420px;
	}
	/* -------------------------
            作品集內頁-內容
	---------------------------*/
	/*2016-10-07-add*/
	.portfolio-inner .video iframe{
		width:420px;
	}
	/* -------------------------
          	關於-內容
	---------------------------*/
	main.about .pagetitle,main.about .btn-social,main.about .aboutme-mid-content{
		width:420px;
	}
	/* -------------------------
          	履歷-內容
	---------------------------*/
	main.resume .pagetitle,.resume-block,p.btn-donwload{
		width:420px;
	}



}

/*2016-10-07-add*/
@media only screen and (max-width:959px){
	/* -------------------------
          	關於-內容
	---------------------------*/
	.aboutme-pic{
	width:auto;
	}

}

@media only screen and (max-width:766px){
	main{
		/*padding-top:0; */
	}

	/* -------------------------
             頁首及頁尾
	---------------------------*/
	/*20160909-add*/
	header .name h1{
		position:absolute;
		top:26px;
		left:10px;
	}

	/* -------------------------
         	mobile選單
	---------------------------*/
	/*open mobile menu*/
/*  header.open-menu{*/
/*    height:250px !important;*/
/*    position:static; */
/*  }*/
	header.open-menu .mobile-toggle{
		transform:rotate(-90deg);
	    -webkit-transform:rotate(-90deg);
	}
	/*mobile menu*/
	header .mobile-toggle{
		display: block;
	}
	header nav{
		float:none;
		position:absolute;
		top:65px;
		width:420px;  
	}
	header nav ul li{
		float:none; 
	}
	header nav a{
		display: block;
		border-bottom:1px dotted #dcdcdc;
		background:url('../images/menu-arrow.png') 95% 48% no-repeat;
		padding:5px 5px 5px 20px; 
	}
	header nav a:hover{
		background:url('../images/menu-arrow.png') 95% 48% no-repeat #eee;
	}
	/* -------------------------
           	    標題
	---------------------------*/
	.pagetitle .title{
		font-size:36px;
		width:80%;
	}
	.pagetitle .subtitle{
		font-size:16px;
		width:auto;
	}
	/* -------------------------
            	作品集
	---------------------------*/
	.content .tab{
		height:60px;
	}
	.content .tab li{
		margin:5px 5px 10px 0;
	}
	.pic .odd{
		float:none; 
	}
	.pic .images{
		width:100%;
	}
	.pic .images a .title h2{
		font-size:22px; 
	}
	/* -------------------------
     	作品集內頁-頁面切換按鈕
	---------------------------*/
	.btn-control{
		right:0;
	}
	.btn-control span a{
		width:20px;
		height:20px;
	}
	.pre a{
		background-position:-10px -11px; 
	}
	.next a{
		background-position:-10px -65px; 
	}
	.close{
		display:none; 
	}
	/* -------------------------
          	關於-內容
	---------------------------*/
	.full-bg-img{
		padding-bottom:60%;
		background-attachment:initial;
	}
	/* -------------------------
          	履歷-內容
	---------------------------*/
	.resume-mid-content{
		width:100%;
	}
	.column-first{
		padding-bottom:10px;
	}
	.column-second{
		padding-top:0;
	}


}


@media only screen and (max-width:479px){
	/* -------------------------
            	全域
	---------------------------*/
	header .menu,main,.footer-content{
		width:300px;

	}
	/* -------------------------
         	mobile選單
	---------------------------*/
	header nav{
		width:300px;
	}
	/* -------------------------
            	作品集
	---------------------------*/
	.brief-intro{
		width:300px;
	}
	/* -------------------------
            作品集內頁-內容
	---------------------------*/
	/*2016-10-07-add*/
	.portfolio-inner .video iframe{
		width:300px;
		height:250px;
	}
	/* -------------------------
          	關於-內容
	---------------------------*/
	main.about .pagetitle,main.about .btn-social,main.about .aboutme-mid-content{
		width:300px;
	}
	/* -------------------------
          	履歷-內容
	---------------------------*/
	main.resume .pagetitle,.resume-block,p.btn-donwload{
		width:300px;
	}


}

@media screen and (max-width: 766px) {
	/* #menu is the original menu */
	#menu-list {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}
}
